<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phrases</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/main.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="phrase-container">
            <a id="phrase-link" href="#">
                <p id="phrase-text"></p>
            </a>
        </div>
        <div class="logo-container">
            <img id="logo" src="/static/logo.png" alt="Logo">
        </div>
    </div>
</body>

</html>